EINV_BASE_URL=https://dev.gsthero.com
EINV_GSTIN=05AALFP1139Q003
EINV_UI_LOGIN_URL=https://dev.gsthero.com/GspModel/login
EINV_UI_EMAIL=REPLACE_ME
EINV_UI_PASSWORD=REPLACE_ME
EINV_TEMPLATE_CONNECTOR=102
# EINV_TEMPLATE_FILE=testdata/templates/TestFile-27_INVALID_20230904165850.xlsx
